$breakpoint-xs: 576px;
$breakpoint-phone: 767.98px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;
$breakpoint-desktopXL: 1200px;

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 100%;
}

body {
  a {
    color: $cardColor;
  }

  .getStarted-btn {
    @include styleButton(100px);
    padding: 15px 35px;
  }
  .signUp-btn {
    @include styleButton(100px);
    padding: 10px 85px;
  }
  .shorten-btn {
    @include styleButton(8px);
    padding: 10px 0;
    width: 230px;
  }
  .copy-btn {
    @include styleButton(8px);
    margin: 1.5rem 1rem;
    font-size: 18px;
    padding: 0.5rem 0.5rem;
  }
}
.linksStyle {
  max-width: 100%;
  @include setFlex;
  flex-flow: column;
  background-color: $cardColor;
  margin: 3rem 0rem;
  justify-content: center;
  text-align: center;

  .flex {
    justify-content: center;
    width: 300px;
  }
  div {
    max-width: 100%;

    text-align: left;
    margin: 0 auto;
    button {
      margin: 0px 10px;
    }
    .py-2 {
      width: 300px;
    }
    p {
      font-size: 12px;
    }
  }
  a {
    transition: 0.1s ease-in;
    color: $primary-cyan;

    font-size: 16px;
    &:hover {
      transition: 0.1s ease-in;
      color: $primary-violet;
    }
  }
}
header {
  max-width: 100%;
  background-color: $cardColor;
  height: 55rem;
  img {
    max-width: 100%;
  }
  .flex {
    flex-flow: column;
  }
}
nav {
  max-width: 100%;

  img {
    max-width: 100%;
    height: 30px;
  }
  .flexContainer {
    button {
      display: none;
    }
    max-width: 100%;
    @include setFlex;

    justify-content: space-between;

    .burgerMenu {
      width: 30px;
      height: 40px;
      margin: 0;

      max-width: 100%;
      .bar {
        height: 4px;
        width: 100%;
        margin: 6px 0px;
        background-color: $lightBlue;
      }
    }

    .navigationLinks {
      display: none;
    }
    .active {
      background-color: $primary-cyan !important;
    }
  }
  .burgerLinks {
    width: 90%;
    transition: 0.2s ease-in;
    max-width: 100%;
    height: 0%;
    background-color: transparent;

    position: absolute;
    border-radius: 8px;
    ul {
      opacity: 0;
    }
  }
  .active {
    width: 90%;
    background-color: $primary-violet;
    transition: 0.2s ease-in;
    opacity: 1;
    height: 25rem;
    @include setFlex;
    flex-flow: column;
    ul {
      transition: 0.4s ease-in;
      opacity: 1;
    }
  }
}
main {
  .formContainer {
    position: absolute;
    width: 90%;
    max-width: 100%;
    background-image: url("/images/bg-shorten-mobile.svg");
    background-color: $primary-violet;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 185px;
    border-radius: 10px;
    top: 50rem;
    form {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    input {
      width: 230px;
      max-width: 100%;
      height: 45px;
      border-radius: 8px;
      border: none;
      margin-bottom: 0;

      &:focus {
        outline: none;
        border: 2px solid $primary-cyan;
        border-radius: 8px;
        padding: 1rem;
      }
      &:focus::placeholder {
        color: transparent;
      }
      &::-webkit-input-placeholder {
        padding: 0rem 1rem;
      }
    }
    form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
    }
  }
  .card {
    background-color: $cardColor;
    border-radius: 8px;
    p {
      margin: 10px auto;
      width: 80%;
    }
  }

  .getStarted {
    max-width: 100%;
    background-image: url("/images/bg-boost-mobile.svg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $primary-violet;
    h2 {
      color: $cardColor;
    }
  }
}
footer {
  background-color: $DarkPurpleColor;
  .socialMediaLinks {
    img {
      transition: 0.2s ease-in;
      margin: 0rem 0.5rem;
      max-width: 100%;
      height: 1rem;
      &:hover {
        transition: 0.2s ease-in;
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}
@media (max-width: $breakpoint-xs) {
  .linksStyle {
    .flex {
      width: 260px;
      align-items: center;
    }
    div {
      .py-2 {
        width: 260px;
      }
      a {
        font-size: 14px;
      }
    }
  }
}
@media (min-width: $breakpoint-tablet) and (max-width: 1198px) {
  body {
    h1 {
      width: 25rem;
      margin: 0 auto;
    }
    p {
      width: 25rem;
      margin: 0 auto;
    }
  }
  header {
    height: 69rem;
  }

  main {
    .formContainer {
      top: 63rem;
    }
  }
  .linksStyle {
    justify-content: flex-start;
    align-items: center;
    div {
      width: 550px;
    }
    .flex {
      align-items: center;
    }
  }
}
@media (min-width: $breakpoint-desktopXL) {
  .linksStyle {
    flex-flow: row;
    justify-content: space-between;
    text-align: left;

    .copy-btn {
      @include styleButton(8px);
      margin: 2.5rem 1rem;
      font-size: 18px;
      padding: 0.5rem 2rem;
    }
    .flex {
      align-items: center;
    }
  }

  .burgerLogo {
    display: none;
  }
  .wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
  }
  body {
    h1 {
      width: 35rem;
      margin: 0 auto;
      font-size: 75px;
    }
    p {
      width: 35rem;
      margin: 0 auto;
    }
  }
  header {
    height: 50rem;
    text-align: left;
    .flex {
      flex-flow: row;
    }
    .flexContainer {
      button {
        display: block;
      }
      max-width: 100%;
      @include setFlex;

      justify-content: space-between;

      .burgerMenu {
        display: none;
      }

      .navigationLinks {
        @include setFlex;
        ul {
          display: flex;
        }
        a {
          color: $lightBlue;
        }
        &:hover {
          cursor: pointer;
          color: red;
        }
      }
    }
    .flex {
      @include setFlex;
      justify-content: space-between;
      align-items: center;
      img {
        max-width: 100%;
      }
    }
  }
  main {
    margin: 0 auto;
    .formContainer {
      position: absolute;
      width: 80%;
      text-align: center;
      max-width: 100%;
      background-image: url("/images/bg-shorten-mobile.svg");
      background-color: $primary-violet;
      background-position: bottom;
      background-repeat: no-repeat;
      background-size: cover;
      height: 185px;
      border-radius: 10px;
      top: 42rem;
    }
  }

  .card {
    width: 25rem;
    max-width: 100%;
    margin: 0px 15px;
  }
  .cardsContainer {
    @include setFlex;
    justify-content: space-evenly;
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
  }
  footer {
    .wrapper {
      display: flex;

      justify-content: center;
      p {
        width: 15rem;
      }
    }
  }
}
@media (min-width: $breakpoint-desktop) and (max-width: 1399px) {
  body {
    .copy-btn {
      padding: 0rem 2rem;
    }
  }
  header {
    height: 60rem;

    .imgContainer {
      max-width: 100%;
      height: 20rem;
      img {
        height: 100%;
      }
    }

    h1 {
      font-size: 45px;
    }
  }
  main {
    .formContainer {
      top: 55rem;
    }
    .linkList {
      h2 {
        margin: 3rem 3rem 0rem;
      }
    }
  }
  .linksStyle {
    flex-flow: row;
    justify-content: space-between;
    text-align: left;

    .copy-btn {
      @include styleButton(8px);
      margin: 2.5rem 1rem;
      font-size: 18px;
      padding: 0.5rem 2rem;
    }
    .flex {
      align-items: center;
    }
  }
}
