$primary-cyan: hsl(180, 66%, 49%);
$primary-violet: hsl(257, 27%, 26%);
$secondary-red: hsl(0, 87%, 67%);
$cardColor: hsl(0, 0%, 100%);
$backgroundColor: rgb(239, 234, 247);
$DarkPurpleColor: hsl(260, 8%, 14%);
$lightBlue: hsl(255, 7%, 52%);

@mixin setFlex {
  display: flex;
}
@mixin styleButton($borderRadius) {
  border-radius: $borderRadius;
  color: $cardColor;
  background-color: $primary-cyan;
  border: none;
  font-size: 20px;
  font-weight: 700;
}
$spaceamounts: (1, 2, 3, 4, 5);
@each $space in $spaceamounts {
  .m#{$space} {
    margin: #{$space}rem;
  }
  .my-#{$space} {
    margin: #{$space}rem 0rem;
  }
  .p#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0rem;
  }
}
