@import "_utilities";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  @include setFlex;
}
.circle {
  background-color: $primary-violet;
  @include setFlex;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  border-radius: 100%;
}
.copied {
  background-color: $primary-violet !important;
}
.divider {
  width: 85%;
  height: 0.2px;
  background-color: $lightBlue;
  margin: 0 auto;
}
body {
  background-color: $backgroundColor;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 20px;
  button {
    transition: 0.2s ease-in;
    &:hover {
      transition: 0.2s ease-in;
      cursor: pointer;

      background-color: lighten($primary-cyan, 16%);
    }
    &:focus {
      outline: none;
    }
  }
  h1 {
    color: $DarkPurpleColor;
    line-height: 1.2;
    font-weight: 700;
  }

  h2 {
    color: $DarkPurpleColor;
    font-weight: 700;
  }
  h3 {
    color: $DarkPurpleColor;
    font-weight: 700;
  }
  p {
    font-size: 18px;
    color: $lightBlue;
    font-weight: 500;
  }
  ul {
    list-style: none;
  }
  main {
    max-width: 100%;
  }
  a {
    text-decoration: none;
    &:hover {
      cursor: pointer;
    }
  }
  .valid {
    background-color: rgb(183, 241, 209);
  }

  .linkList {
    max-width: 100%;
  }
  span {
    font-size: 12px;
    color: rgb(226, 93, 93);
    width: 230px;
    text-align: left;
    padding: 2px;
    opacity: 0;
    transition: 0.2s ease-in;
  }
  .invalid {
    outline: none !important;
    border: 2px solid rgb(226, 93, 93) !important;
    border-radius: 8px !important;
  }

  .login {
    @include setFlex;
  }
}

@import "_mobile";
