.m1 {
  margin: 0rem 1rem;
}

.my-1 {
  margin: 1rem 0rem;
}

.p1 {
  padding: 0rem 1rem;
}

.py-1 {
  padding: 1rem 0rem;
}

.m2 {
  margin: 0rem 2rem;
}

.my-2 {
  margin: 2rem 0rem;
}

.p2 {
  padding: 0rem 2rem;
}

.py-2 {
  padding: 2rem 0rem;
}

.m3 {
  margin: 0rem 3rem;
}

.my-3 {
  margin: 3rem 0rem;
}

.p3 {
  padding: 0rem 3rem;
}

.py-3 {
  padding: 3rem 0rem;
}

.m4 {
  margin: 0rem 4rem;
}

.my-4 {
  margin: 4rem 0rem;
}

.p4 {
  padding: 0rem 4rem;
}

.py-4 {
  padding: 4rem 0rem;
}

.m5 {
  margin: 0rem 5rem;
}

.my-5 {
  margin: 5rem 0rem;
}

.p5 {
  padding: 0rem 5rem;
}

.py-5 {
  padding: 5rem 0rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle {
  background-color: #3b3054;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 85px;
  height: 85px;
  border-radius: 100%;
}

.copied {
  background-color: #3b3054 !important;
}

.divider {
  width: 85%;
  height: 0.2px;
  background-color: #807c8d;
  margin: 0 auto;
}

body {
  background-color: #efeaf7;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 20px;
}

body button {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

body button:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
  background-color: #6be1e1;
}

body button:focus {
  outline: none;
}

body h1 {
  color: #2c2932;
  line-height: 1.2;
  font-weight: 700;
}

body h2 {
  color: #2c2932;
  font-weight: 700;
}

body h3 {
  color: #2c2932;
  font-weight: 700;
}

body p {
  font-size: 18px;
  color: #807c8d;
  font-weight: 500;
}

body ul {
  list-style: none;
}

body main {
  max-width: 100%;
}

body a {
  text-decoration: none;
}

body a:hover {
  cursor: pointer;
}

body .valid {
  background-color: #b7f1d1;
}

body .linkList {
  max-width: 100%;
}

body span {
  font-size: 12px;
  color: #e25d5d;
  width: 230px;
  text-align: left;
  padding: 2px;
  opacity: 0;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

body .invalid {
  outline: none !important;
  border: 2px solid #e25d5d !important;
  border-radius: 8px !important;
}

body .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 100%;
}

body a {
  color: white;
}

body .getStarted-btn {
  border-radius: 100px;
  color: white;
  background-color: #2acfcf;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

body .signUp-btn {
  border-radius: 100px;
  color: white;
  background-color: #2acfcf;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 85px;
}

body .shorten-btn {
  border-radius: 8px;
  color: white;
  background-color: #2acfcf;
  border: none;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 0;
  width: 230px;
}

body .copy-btn {
  border-radius: 8px;
  color: white;
  background-color: #2acfcf;
  border: none;
  font-size: 20px;
  font-weight: 700;
  margin: 1.5rem 1rem;
  font-size: 18px;
  padding: 0.5rem 0.5rem;
}

.linksStyle {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  background-color: white;
  margin: 3rem 0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.linksStyle .flex {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
}

.linksStyle div {
  max-width: 100%;
  text-align: left;
  margin: 0 auto;
}

.linksStyle div button {
  margin: 0px 10px;
}

.linksStyle div .py-2 {
  width: 300px;
}

.linksStyle div p {
  font-size: 12px;
}

.linksStyle a {
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  color: #2acfcf;
  font-size: 16px;
}

.linksStyle a:hover {
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
  color: #3b3054;
}

header {
  max-width: 100%;
  background-color: white;
  height: 55rem;
}

header img {
  max-width: 100%;
}

header .flex {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

nav {
  max-width: 100%;
}

nav img {
  max-width: 100%;
  height: 30px;
}

nav .flexContainer {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .flexContainer button {
  display: none;
}

nav .flexContainer .burgerMenu {
  width: 30px;
  height: 40px;
  margin: 0;
  max-width: 100%;
}

nav .flexContainer .burgerMenu .bar {
  height: 4px;
  width: 100%;
  margin: 6px 0px;
  background-color: #807c8d;
}

nav .flexContainer .navigationLinks {
  display: none;
}

nav .flexContainer .active {
  background-color: #2acfcf !important;
}

nav .burgerLinks {
  width: 90%;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  max-width: 100%;
  height: 0%;
  background-color: transparent;
  position: absolute;
  border-radius: 8px;
}

nav .burgerLinks ul {
  opacity: 0;
}

nav .active {
  width: 90%;
  background-color: #3b3054;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  opacity: 1;
  height: 25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

nav .active ul {
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
  opacity: 1;
}

main .formContainer {
  position: absolute;
  width: 90%;
  max-width: 100%;
  background-image: url("/images/bg-shorten-mobile.svg");
  background-color: #3b3054;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  height: 185px;
  border-radius: 10px;
  top: 50rem;
}

main .formContainer form {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

main .formContainer input {
  width: 230px;
  max-width: 100%;
  height: 45px;
  border-radius: 8px;
  border: none;
  margin-bottom: 0;
}

main .formContainer input:focus {
  outline: none;
  border: 2px solid #2acfcf;
  border-radius: 8px;
  padding: 1rem;
}

main .formContainer input:focus::-webkit-input-placeholder {
  color: transparent;
}

main .formContainer input:focus:-ms-input-placeholder {
  color: transparent;
}

main .formContainer input:focus::-ms-input-placeholder {
  color: transparent;
}

main .formContainer input:focus::placeholder {
  color: transparent;
}

main .formContainer input::-webkit-input-placeholder {
  padding: 0rem 1rem;
}

main .formContainer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

main .card {
  background-color: white;
  border-radius: 8px;
}

main .card p {
  margin: 10px auto;
  width: 80%;
}

main .getStarted {
  max-width: 100%;
  background-image: url("/images/bg-boost-mobile.svg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3b3054;
}

main .getStarted h2 {
  color: white;
}

footer {
  background-color: #2c2932;
}

footer .socialMediaLinks img {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  margin: 0rem 0.5rem;
  max-width: 100%;
  height: 1rem;
}

footer .socialMediaLinks img:hover {
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 576px) {
  .linksStyle .flex {
    width: 260px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .linksStyle div .py-2 {
    width: 260px;
  }
  .linksStyle div a {
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 1198px) {
  body h1 {
    width: 25rem;
    margin: 0 auto;
  }
  body p {
    width: 25rem;
    margin: 0 auto;
  }
  header {
    height: 69rem;
  }
  main .formContainer {
    top: 63rem;
  }
  .linksStyle {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .linksStyle div {
    width: 550px;
  }
  .linksStyle .flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .linksStyle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .linksStyle .copy-btn {
    border-radius: 8px;
    color: white;
    background-color: #2acfcf;
    border: none;
    font-size: 20px;
    font-weight: 700;
    margin: 2.5rem 1rem;
    font-size: 18px;
    padding: 0.5rem 2rem;
  }
  .linksStyle .flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .burgerLogo {
    display: none;
  }
  .wrapper {
    width: 80%;
    margin: 0 auto;
    max-width: 100%;
  }
  body .signUp-btn {
    padding: 10px 35px;
  }
  body h1 {
    width: 35rem;
    margin: 0 auto;
    font-size: 75px;
  }
  body p {
    width: 35rem;
    margin: 0 auto;
  }
  header {
    height: 50rem;
    text-align: left;
  }
  header .flex {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
  header .flexContainer {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .flexContainer button {
    display: block;
  }
  header .flexContainer .burgerMenu {
    display: none;
  }
  header .flexContainer .navigationLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  header .flexContainer .navigationLinks a {
    color: #807c8d;
  }
  header .flexContainer .navigationLinks a:hover {
    color: #3b3054;
  }
  header .flexContainer .navigationLinks ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .flex img {
    max-width: 100%;
  }
  main {
    margin: 0 auto;
  }
  main .formContainer {
    position: absolute;
    width: 80%;
    text-align: center;
    max-width: 100%;
    background-image: url("/images/bg-shorten-mobile.svg");
    background-color: #3b3054;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 185px;
    border-radius: 10px;
    top: 42rem;
  }
  .card {
    width: 25rem;
    max-width: 100%;
    margin: 0px 15px;
  }
  .cardsContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    max-width: 100%;
    width: 85%;
    margin: 0 auto;
  }
  footer .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .wrapper p {
    width: 15rem;
  }
}

@media (min-width: 992px) and (max-width: 1399px) {
  body .copy-btn {
    padding: 0rem 2rem;
  }
  header {
    height: 60rem;
  }
  header .imgContainer {
    max-width: 100%;
    height: 20rem;
  }
  header .imgContainer img {
    height: 100%;
  }
  header h1 {
    font-size: 45px;
  }
  main .formContainer {
    top: 55rem;
  }
  main .linkList h2 {
    margin: 3rem 3rem 0rem;
  }
  .linksStyle {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: left;
  }
  .linksStyle .copy-btn {
    border-radius: 8px;
    color: white;
    background-color: #2acfcf;
    border: none;
    font-size: 20px;
    font-weight: 700;
    margin: 2.5rem 1rem;
    font-size: 18px;
    padding: 0.5rem 2rem;
  }
  .linksStyle .flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */